body {
    color: rgb(169, 222, 238);
    background-color: black;

    @media screen and (max-width:768px) {
        
    }
    @media screen and (max-width:600px) {
        
    }
}


 header img {
    border-radius: 50%;
    border: 5px solid #f8f8fa;
}

.center {
    text-align: center;
    margin-top: 50px;
}



section img {
    width: 40px;
    height: 40px;
}


h1 {
    text-align: center;
    color: blue;
}

main {
    text-align: center;

}

footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

footer P {
    margin-top: 4px;
}

